<!DOCTYPE html>
<html lang="en">
<head th:include="common/header_css :: commonHeader('Love Mao!')">
</head>

<body class="nav-md">
	<div class="container body">
		<div class="main_container">

			<!-- left menu -->
			<div th:replace="common/left_menu :: left_menu"></div>
			<!-- left menu -->
			<!-- top navigation -->
			<div th:replace="common/topnavigation :: top_nav"></div>
			<!-- /top navigation -->

			<!-- page content -->
			<div class="right_col" role="main">这里是正文内容</div>
			<!-- /page content -->

			<!-- footer content -->
			<footer>
				<div class="pull-right"></div>
				<div class="clearfix"></div>
			</footer>
			<!-- /footer content -->
		</div>
	</div>

	<div th:include="common/header_js :: headerJs"></div>

</body>
</html>